<div class="container">

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header>
    <mat-card-content>
      <mat-card-title>Edjania Barros</mat-card-title>
      <mat-card-subtitle>Corretora de Imóveis | Creci-SP 265276-F</mat-card-subtitle>
    </mat-card-content>

    <div class="example-button-collumn">
      <a mat-fab extended
        href="https://l.instagram.com/?u=https%3A%2F%2Fbit.ly%2F449aFgK&e=AT3A-OJLgLK58_RAETNfFZZmDZ8QSCjlWTqEIzsx95pEcqaeKAo24xuweGO3adSQyzXrgYw_LjYqiBiR-VC_mGuCAmLO-0M79two5COK9rZuh_S1cpQVtwA"
        target="_blank">
        Whatsapp
      </a>
      <a mat-fab extended
        href="mailto:edjaniabs2017@gmail.com?subject=Assunto da Mensagem&body=Seja bem-vindo(a)! O que gostaria de saber e como posso te atender?"
        target="_blank">
        Email
      </a>
      <a mat-fab extended href="https://instagram.com/edjaniabarroscorretora?utm_source=qr&igshid=NGExMmI2YTkyZg=="
        target="_blank">
        Instagram
      </a>
      <a mat-fab extended href="https://www.facebook.com/CorretoraEdjaniaBarrosPrimavera?mibextid=ZbWKwL"
        target="_blank">
        Facebook
      </a>
    </div>

    <mat-toolbar class="footer">
      <div mat-card-avatar class="example-footer-image"></div>
    </mat-toolbar>

  </mat-card>
</div>
